<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>experience</key>
	<array>
		<dict>
			<key>company</key>
			<string>Monimus LLC</string>
			<key>period</key>
			<string>Sept &apos;14 - Present</string>
			<key>position</key>
			<string>Lead iOS Developer &amp; Mobile Project Manager</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>text</key>
					<string>● International Team Lead for Native iOS component of the ShowdMe P2P educational platform</string>
					<key>isMain</key>
					<true/>
				</dict>
				<dict>
					<key>text</key>
					<string>○ Overseeing design and implementation of product development</string>
					<key>isMain</key>
					<false/>
				</dict>
				<dict>
					<key>text</key>
					<string>○ Optimized UX/UI across multiple screen sizes and varying network connections</string>
					<key>isMain</key>
					<false/>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Increased security through application of best mobile practices</string>
				</dict>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Project Lead for native iOS and Android components of the Canvs+ visual project management tool</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Adapting web designs to provide optimal native mobile experience across all devices</string>
				</dict>
				<dict>
					<key>text</key>
					<string>○ Creating state of the art real-time collaborative experience through IoT technologies including but not limited to: NFC, Multipeer Connectivity, Bluetooth LE, and iBeacon</string>
					<key>isMain</key>
					<false/>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Rapid prototyping of multiplatform MVP from concept phase</string>
				</dict>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Team Lead responsibilities including:</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Managing Scrum and Kanban boards, weekly sprints, and holding daily stand up meetings</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Contributing to product design via frequent collaboration with UX/UI design teams</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Reviewing all code changes to mobile app repositories across several projects</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Mentoring junior developers in iOS development using both Swift and Objective-C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>Kids of Courage</string>
			<key>period</key>
			<string>July &apos;09 - Present</string>
			<key>position</key>
			<string>Technology Coordinator / Volunteer</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Project Lead for Couragers: a native, multi-platform real-time mobile scheduling application</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Led design and development of native iOS and Android applications</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Created and deployed backend web service and database</string>
				</dict>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Volunteer team leader for care of chronically sick children and young adults in a medically supervised travel program</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Cared for the longest surviving ventilator-dependent quadriplegic living in the US.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>Integrative Pediatric Associates of NY</string>
			<key>period</key>
			<string>Sept &apos;13 - Feb &apos;14</string>
			<key>position</key>
			<string>Freelance Mobile Consultant</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Building a medical provider mobile application to enhance provider/patient communication management</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Performed business analysis/design (UML) to document business requirements</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Designed app architecture leveraging Cocoa Touch networking frameworks and Firebase (Mobile BaaS) </string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Developed technology platform infrastructure architecture deploying to Google App Engine (PaaS)</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Improved code quality (memory management, performance, security) through implementing static code analysis as part of CI lifecycle</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>Transperfect Translations</string>
			<key>period</key>
			<string>Dec &apos;13 - May &apos;14</string>
			<key>position</key>
			<string>Freelance Mobile Developer</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Modernized several outdated native iOS translation apps to support iOS 7/8 compatibility</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Improved application performance and user experience (UX)</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Managed product backlog, timeline, cost, and development</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>NY State Senate Campaign</string>
			<key>period</key>
			<string>May ’12 – Nov ‘12</string>
			<key>position</key>
			<string>Web Developer / Campaign Strategist</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Developed highly interactive Web 2.0 website supporting campaign needs such as:</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Voter registration</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Campaign Contributions</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Campaign information management</string>
				</dict>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Contributed to campaign victory through:</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Organized and led voter outreach and awareness community meetings</string>
				</dict>
				<dict>
					<key>isMain</key>
					<false/>
					<key>text</key>
					<string>○ Managed social media outlets</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>TMD Tutoring</string>
			<key>period</key>
			<string>Jan &apos;09 - Present</string>
			<key>position</key>
			<string>Founder &amp; Private Tutor</string>
			<key>responsibilities</key>
			<array>
				<dict>
					<key>isMain</key>
					<true/>
					<key>text</key>
					<string>● Provided gradeschool through college-level tutoring and test prep in Math, C++, Java, and other diverse areas of study</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
