<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skillCategories</key>
	<array>
		<dict>
			<key>category</key>
			<string>Mobile App Development</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>iOS</string>
					<key>icon</key>
					<string>ios.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Objective-C</string>
					<key>icon</key>
					<string>obj-c.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Swift</string>
					<key>icon</key>
					<string>swift-og (1).png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Xcode</string>
					<key>icon</key>
					<string>xcode.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Core Data</string>
					<key>icon</key>
					<string>core-data.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Android</string>
					<key>icon</key>
					<string>Android.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>iOS</string>
					<key>icon</key>
					<string>ios.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages &amp; Web Development</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>C++</string>
					<key>icon</key>
					<string>c++.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Java</string>
					<key>icon</key>
					<string>java.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Javascript</string>
					<key>icon</key>
					<string>javascript.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MongoDB</string>
					<key>icon</key>
					<string>mongo_db.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>node.js</string>
					<key>icon</key>
					<string>nodejs.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>HTML</string>
					<key>icon</key>
					<string>html.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CSS</string>
					<key>icon</key>
					<string>css.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Angular.js</string>
					<key>icon</key>
					<string>angularjs.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MySQL</string>
					<key>icon</key>
					<string>mysql.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>jQuery</string>
					<key>icon</key>
					<string>jquery.gif</string>
				</dict>
				<dict>
					<key>name</key>
					<string>REST</string>
					<key>icon</key>
					<string>rest.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Backbone.js</string>
					<key>icon</key>
					<string>backbonejs.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SQLite</string>
					<key>icon</key>
					<string>sqllite.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>XML</string>
					<key>icon</key>
					<string>xml.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>less</string>
					<key>icon</key>
					<string>less.jpeg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>WebRTC</string>
					<key>icon</key>
					<string>webrtc.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>XMPP</string>
					<key>icon</key>
					<string>xmpp.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MQTT</string>
					<key>icon</key>
					<string>mqtt.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>OWASP</string>
					<key>icon</key>
					<string>owasp.jpg</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Project Management</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>Agile</string>
					<key>icon</key>
					<string>agile.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Git</string>
					<key>icon</key>
					<string>git.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SCRUM</string>
					<key>icon</key>
					<string>scrum.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>JIRA</string>
					<key>icon</key>
					<string>jira.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Trello</string>
					<key>icon</key>
					<string>trello.png</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Basecamp</string>
					<key>icon</key>
					<string>basecamp.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
