<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skillCategories</key>
	<array>
		<dict>
			<key>category</key>
			<string>Mobile App Development</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>iOS</string>
					<key>icon</key>
					<string>iOS</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Objective-C</string>
					<key>icon</key>
					<string>Objective-C</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Swift</string>
					<key>icon</key>
					<string>Swift</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Xcode</string>
					<key>icon</key>
					<string>Xcode</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Core Data</string>
					<key>icon</key>
					<string>CoreData</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Android</string>
					<key>icon</key>
					<string>Android</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Languages &amp; Web Development</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>C++</string>
					<key>icon</key>
					<string>C++</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Java</string>
					<key>icon</key>
					<string>Java</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Javascript</string>
					<key>icon</key>
					<string>Javascript</string>
				</dict>
				<dict>
					<key>name</key>
					<string>REST</string>
					<key>icon</key>
					<string>REST</string>
				</dict>
				<dict>
					<key>name</key>
					<string>XML</string>
					<key>icon</key>
					<string>XML</string>
				</dict>
				<dict>
					<key>name</key>
					<string>node.js</string>
					<key>icon</key>
					<string>NodeJS</string>
				</dict>
				<dict>
					<key>name</key>
					<string>HTML</string>
					<key>icon</key>
					<string>HTML</string>
				</dict>
				<dict>
					<key>name</key>
					<string>CSS</string>
					<key>icon</key>
					<string>CSS</string>
				</dict>
				<dict>
					<key>name</key>
					<string>less</string>
					<key>icon</key>
					<string>LESS</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Angular.js</string>
					<key>icon</key>
					<string>Angular</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Backbone.js</string>
					<key>icon</key>
					<string>Backbone</string>
				</dict>
				<dict>
					<key>name</key>
					<string>jQuery</string>
					<key>icon</key>
					<string>jQuery</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MongoDB</string>
					<key>icon</key>
					<string>MongoDB</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MySQL</string>
					<key>icon</key>
					<string>MySQL</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SQLite</string>
					<key>icon</key>
					<string>SQLite</string>
				</dict>
				<dict>
					<key>name</key>
					<string>OWASP</string>
					<key>icon</key>
					<string>OWASP</string>
				</dict>
				<dict>
					<key>name</key>
					<string>WebRTC</string>
					<key>icon</key>
					<string>WebRTC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>XMPP</string>
					<key>icon</key>
					<string>XMPP</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MQTT</string>
					<key>icon</key>
					<string>MQTT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Project Management</string>
			<key>skills</key>
			<array>
				<dict>
					<key>name</key>
					<string>Agile</string>
					<key>icon</key>
					<string>Agile</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Git</string>
					<key>icon</key>
					<string>Git</string>
				</dict>
				<dict>
					<key>name</key>
					<string>SCRUM</string>
					<key>icon</key>
					<string>SCRUM</string>
				</dict>
				<dict>
					<key>name</key>
					<string>JIRA</string>
					<key>icon</key>
					<string>JIRA</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Trello</string>
					<key>icon</key>
					<string>Trello</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Basecamp</string>
					<key>icon</key>
					<string>Basecamp</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
